# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Envs
venv/
.env
.env.*

# Node
frontend/node_modules/
frontend/.next/
frontend/.turbo/

# DB
backend/portfolio.db

# OS
.DS_Store
video/node_modules/
